.login {
    width: 30%;
    margin: auto;
}

form {
    display: inline-block
}

body {
    text-align: center;
}

input {
    display: block;
    margin: 5px;
    width: 100%;
    height: 30px;
}
.centered-prediction {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;   }
  